body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    min-height: 80vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    border-radius: 40px;
    padding: 20px 35px;
    border: 5px solid #52d2c3;
    background: #282828;
    box-shadow: rgba(82, 210, 195, 0.5) 0px 30px 30px -20px;
    /* margin: 20px; */
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #52d2c3;
    display: flex;
}

.heading img {
    display: flex;
    max-width: 35px;
    margin-left: 5px;
}

.form .input {
    width: 100%;
    background: #2e2e2e;
    border: 2px solid transparent;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
}

.form .input::placeholder {
    color: rgb(170, 170, 170);
}

.form .input:focus {
    outline: none;
    border: 2px solid #52d2c3;
}

.form .forgot-password {
    display: block;
    margin-left: 10px;
}

.form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
}

.form .forgot-password a:hover {
    text-decoration: underline;
}

.dob-label {
    font-size: 13px;
    color: rgb(170, 170, 170);
    margin-left: 20px;
}

.form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background-color: #2e7874;
    padding: 15px 0;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 20px;
    color: #fff;
    border: none;
    transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
    transform: scale(1.03);
    background-color: #52d2c3;
}

.form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(82, 210, 195, 0.5) 0px 15px 10px -10px;
}

.social-account-container {
    margin-top: 25px;
}

.social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid #52d2c3;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
    fill: #52d2c3;
}

.social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
}

.agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.agreement p {
    color: rgb(170, 170, 170);
    text-decoration: none;
    font-size: 12px;
}

.agreement a {
    text-decoration: none;
    color: #0099ff;
    font-size: 12px;
}

.agreement a:hover {
    text-decoration: underline;
}